<table>
      <tr>
        <td colspan="9" class="text-center">CDMX</td>
      </tr>
      <tr>
        <td colspan="9">Semana: 21</td>
      </tr>
      <tr>
        <td colspan="9">Fecha: 24-05-2021 a 30-05-2021</td>
      </tr>
  </table>
  <table>
    <thead>
      <tr>
        <th></th>
                  <th class="text-center">LUNES</th>
                  <th class="text-center">MARTES</th>
                  <th class="text-center">MIéRCOLES</th>
                  <th class="text-center">JUEVES</th>
                  <th class="text-center">VIERNES</th>
                  <th class="text-center">SáBADO</th>
                  <th class="text-center">DOMINGO</th>
                <th></th>
      </tr>
    </thead>
    <tbody>
                                          <tr>
                                                
                                                            <td>
              00:00 - 00:30
            </td>
                                                                                                                                                  
                                                                                                                                                                  
                                  
                                  <td rowspan="2" class="align-middle text-center">
                    Test
                  </td>
                                                                                                                                                                                
                                  
                                  <td rowspan="0.5" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                                                                                                
                                  
                                  <td rowspan="1" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                                                                                                
                                  
                                  <td rowspan="1" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                                                                                                
                                  
                                  <td rowspan="1" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                                                                                                
                                  
                                  <td rowspan="1" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                                                                                                
                                  
                                  <td rowspan="1" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                      <td>
              00:00 - 00:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              00:30 - 01:00
            </td>
                                                                                                                                                <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              00:30 - 01:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              01:00 - 01:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              01:00 - 01:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              01:30 - 02:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              01:30 - 02:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              02:00 - 02:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              02:00 - 02:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              02:30 - 03:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              02:30 - 03:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              03:00 - 03:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              03:00 - 03:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              03:30 - 04:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              03:30 - 04:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              04:00 - 04:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              04:00 - 04:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              04:30 - 05:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              04:30 - 05:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              05:00 - 05:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              05:00 - 05:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              05:30 - 06:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              05:30 - 06:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              06:00 - 06:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              06:00 - 06:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              06:30 - 07:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              06:30 - 07:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              07:00 - 07:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              07:00 - 07:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              07:30 - 08:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              07:30 - 08:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              08:00 - 08:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              08:00 - 08:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              08:30 - 09:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              08:30 - 09:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              09:00 - 09:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              09:00 - 09:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              09:30 - 10:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              09:30 - 10:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              10:00 - 10:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              10:00 - 10:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              10:30 - 11:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              10:30 - 11:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              11:00 - 11:30
            </td>
                                                                                                                                                  
                                                                                                                                                                  
                                  
                                  <td rowspan="2" class="align-middle text-center">
                    EL CHIRINGUITO - Título largo para probar que todo este bien
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                  
                                  <td rowspan="2" class="align-middle text-center">
                    EL CHIRINGUITO - Título largo para probar que todo este bien
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                  
                                  <td rowspan="2" class="align-middle text-center">
                    EL CHIRINGUITO - Título largo para probar que todo este bien
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                  
                                  <td rowspan="2" class="align-middle text-center">
                    EL CHIRINGUITO - Título largo para probar que todo este bien
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                  
                                  <td rowspan="2" class="align-middle text-center">
                    EL CHIRINGUITO - Título largo para probar que todo este bien
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                  
                                  <td rowspan="2" class="align-middle text-center">
                    EL CHIRINGUITO - Título largo para probar que todo este bien
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                  
                                  <td rowspan="2" class="align-middle text-center">
                    EL CHIRINGUITO - Título largo para probar que todo este bien
                  </td>
                                                      <td>
              11:00 - 11:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              11:30 - 12:00
            </td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <td>
              11:30 - 12:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              12:00 - 12:30
            </td>
                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                  <td rowspan="8" class="align-middle text-center">
                    Test - Otro titulo largo para probar que las columnas esten bien puestas
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                  <td rowspan="8" class="align-middle text-center">
                    Test - Otro titulo largo para probar que las columnas esten bien puestas
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                  <td rowspan="8" class="align-middle text-center">
                    Test - Otro titulo largo para probar que las columnas esten bien puestas
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                  <td rowspan="8" class="align-middle text-center">
                    Test - Otro titulo largo para probar que las columnas esten bien puestas
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                  <td rowspan="8" class="align-middle text-center">
                    Test - Otro titulo largo para probar que las columnas esten bien puestas
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                  <td rowspan="8" class="align-middle text-center">
                    Test - Otro titulo largo para probar que las columnas esten bien puestas
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                  <td rowspan="8" class="align-middle text-center">
                    Test - Otro titulo largo para probar que las columnas esten bien puestas
                  </td>
                                                      <td>
              12:00 - 12:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              12:30 - 13:00
            </td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <td>
              12:30 - 13:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              13:00 - 13:30
            </td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <td>
              13:00 - 13:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              13:30 - 14:00
            </td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <td>
              13:30 - 14:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              14:00 - 14:30
            </td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <td>
              14:00 - 14:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              14:30 - 15:00
            </td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <td>
              14:30 - 15:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              15:00 - 15:30
            </td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <td>
              15:00 - 15:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              15:30 - 16:00
            </td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <td>
              15:30 - 16:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              16:00 - 16:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              16:00 - 16:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              16:30 - 17:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              16:30 - 17:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              17:00 - 17:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              17:00 - 17:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              17:30 - 18:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              17:30 - 18:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              18:00 - 18:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              18:00 - 18:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              18:30 - 19:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              18:30 - 19:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              19:00 - 19:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              19:00 - 19:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              19:30 - 20:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              19:30 - 20:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              20:00 - 20:30
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              20:00 - 20:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              20:30 - 21:00
            </td>
                                                                          <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              20:30 - 21:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              21:00 - 21:30
            </td>
                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                                    <td rowspan="6" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              21:00 - 21:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              21:30 - 22:00
            </td>
                                                                                                                                                <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              21:30 - 22:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              22:00 - 22:30
            </td>
                                                                                                                                                <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              22:00 - 22:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              22:30 - 23:00
            </td>
                                                                                                                                                <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                                                                        <td></td>
                                                      <td>
              22:30 - 23:00
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              23:00 - 23:30
            </td>
                                                                                                                                                                                                                        
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                                    <td rowspan="2" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                                    <td rowspan="2" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                                    <td rowspan="2" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                                    <td rowspan="2" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                                    <td rowspan="2" class="align-middle text-center">
                    Programa medianoche
                  </td>
                                                                                                                                                                                
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                                                                                                                                                  
                                  
                                                    <td rowspan="2" class="align-middle text-center">
                    Test
                  </td>
                                                      <td>
              23:00 - 23:30
            </td>
          </tr>
                  <tr>
                                                
                                                            <td>
              23:30 - 24:00
            </td>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <td>
              23:30 - 24:00
            </td>
          </tr>
            </tbody>
  </table>